

.carousel img {
    max-width: 100%;
    max-height: 700px; /* Ajustez cette valeur selon vos besoins */
    width: auto;
    height: auto;
    object-fit: cover;
}

.navbar-brand{
    width: min-content;
}
@media screen and (max-width: 400px){
     
    .logo {
        
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

